/* ============================================================
  COMMON
============================================================ */
#mainDiv {
  background-color: #f79bf7;
  width: 100%;
  height: 60%;
  min-height: 1px;
  float: left;
  /*display: inline-block;*/
}

#topbuttonsDiv{
	margin-left: 17.5%;
	background-color: #ff0000;
	float:left;
	width: 65%;
  	height:40px;
  	min-height: 5px;
}

#leftadsDiv {
	background-color: #80ff80;
	width : 17.5%;
	min-height: 1px;
	float: left;
	display: inline-block;
}

#rightadsDiv {
	background-color: #80ff80;
	min-height: 1px;
	width : 17.5%;
	float: left;
	display: inline-block;
}

#prepaidmobileinputdiv {
  float:left;
  margin-bottom: 60px;
  padding: 25px;
  background-color: #efefef;
  width: 20%;
   height:350px;
}
#prepaidmobileplansdiv {
  float:left;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #ff8040;
  width: 45%;
  display:block;
  height:350px;
  overflow: auto;
}

/* headings */
h2 {
  margin-bottom: 20px;
}

/* form elements */
label {
  display: block;
}

/*input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}*/
input[type="text"]:focus {
  outline: none;
}

/* lists */

ol.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}
ol.input-list li {
  display: block;
  padding: 0 10px;
  width: 100%;
  float: left;
}

@media all and (max-width: 800px) {
  ol.input-list {
    margin: 0;
  }
  ol.input-list li {
    padding: 0;
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
/* ============================================================
  STYLE 1
============================================================ */
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus, .style-1 input[type="text"].focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

/* ============================================================
  STYLE 2
============================================================ */
.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.style-2 input[type="text"]:focus, .style-2 input[type="text"].focus {
  border: solid 5px #969696;
}

/* ============================================================
  STYLE 3
============================================================ */
.style-3 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 0 1px #707070;
  -moz-box-shadow: inset 0 0 0 1px #707070;
  box-shadow: inset 0 0 0 1px #707070;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-3 input[type="text"]:focus, .style-3 input[type="text"].focus {
  border: solid 5px #969696;
}

/* ============================================================
  STYLE 4
============================================================ */
.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.style-4 input[type="text"]:focus, .style-4 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

/* ============================================================
  STYLE 5
============================================================ */
.style-5 input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0 #707070;
  -moz-box-shadow: inset 1px 1px 2px 0 #707070;
  box-shadow: inset 1px 1px 2px 0 #707070;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.style-5 input[type="text"]:focus, .style-5 input[type="text"].focus {
  -webkit-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  -moz-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
