/* ============================================================
  COMMON
============================================================ */

#leftadsDiv {
	background-color: transparent;
	width : 17.5%;
	min-height: 1px;
	height:100%;
	float: left;
	display: inline-block;
}


#topbuttonsDiv {
	margin: 0 auto;
	background-color: transparent;
	float:left;
	width: 65%;
  	height:15%;
  	display: block;
}


#rightadsDiv {
	background-color: transparent;
	min-height: 1px;
	height:100%;
	width : 17.5%;
	float: left;
	display: inline-block;
}


#workAreaMainDiv {
	float:left;
	width: 65%;
	height:100%;
	background-color: transparent;
}


#topbuttonsDiv{
	height:10%;
	width: 100%;	
}


#workAreaDiv {
	float:left;
	height: 90%;
	width: 100%;
	background-color: transparent;
}


#inputPanelHeader {
 padding-top: 3%;
 padding-left: 2%;	
}


#prepaidmobileinputdiv {
  float:left;
  padding-left: 4%;
  width: 30%;
  height:100%;
  background-color: transparent;
 }
 
#prepaidmobileplansdiv {
  float:left;
  height:100%;
  width: 70%;
  display:block;
  overflow: auto;
  background-color: transparent;
  border: none;
}

/* headings */
h2 {
  margin-bottom: 20px;
}

/* form elements */
label {
  display: block;
}

input[type="text"]:focus {
  outline: none;
}

/* lists */

ol.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 5px;
}

ol.input-list li {
  display: block;
  padding: 10px;
  width: 100%;
  float: left;
}

@media all and (max-width: 800px) {
  ol.input-list {
    margin: 10;
  }
  ol.input-list li {
    padding: 10%;
    width: 100%;
    float: none;
  }
}

/* ============================================================
  STYLE 1
============================================================ */
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"]:focus, .style-1 input[type="text"].focus {
  border: solid 1px #00ff00;
  -webkit-box-shadow: 0 0 5px 1px #00ff00;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}


/* ============================================================
  STYLE 2
============================================================ */
.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.style-2 input[type="text"]:focus, .style-2 input[type="text"].focus {
  border: solid 5px #969696;
}

/* ============================================================
  STYLE 3
============================================================ */
.style-3 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-box-shadow: inset 0 0 0 1px #707070;
  -moz-box-shadow: inset 0 0 0 1px #707070;
  box-shadow: inset 0 0 0 1px #707070;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-3 input[type="text"]:focus, .style-3 input[type="text"].focus {
  border: solid 5px #969696;
}

/* ============================================================
  STYLE 4
============================================================ */
.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  font-size : medium;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.style-4 input[type="text"]:focus, .style-4 input[type="text"].focus {
  border-bottom: solid 2px #000000;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

/* ============================================================
  STYLE 5
============================================================ */
.style-5 input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0 #707070;
  -moz-box-shadow: inset 1px 1px 2px 0 #707070;
  box-shadow: inset 1px 1px 2px 0 #707070;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.style-5 input[type="text"]:focus, .style-5 input[type="text"].focus {
  -webkit-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  -moz-box-shadow: inset 1px 1px 2px 0 #c9c9c9;
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/* ============================================================
  STYLE 6
============================================================ */
.style-6 input[type="text"] {
 background-color: black;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-6 input[type="text"]:focus, .style-1 input[type="text"].focus {
  background-color: black;	 
  border:none;
 border-bottom: solid 2px #7171ff;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

.button {
			background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:left;
			height: 40px;
			margin-top:10px;
			margin-left:35px;
			position: relative;
			width: 100px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		}

		.button:after {
			color:#e9e6e4;
			content: "aaa";
			display: block;
			font-size: 30px;
			height: 30px;
			text-decoration: none;
			text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
			position: absolute;
			width: 31px;
		}

		.tick:after{
			content: "Recharge";
			position: relative;
			left:23px;
			top:10px;
			font-family: "Open Sans", sans-serif;
  			font-size: 13px;
		}
	
		.button:hover{
			background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
			background-image: linear-gradient(top, #fff, #f4f1ee);
			color:#0088cc;
		}
	
		.tick:hover:after{
			color:#000000;
			text-shadow:0px 0px 6px #83d244;
		}

		.button:active{
			background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
			background-image: linear-gradient(top, #efedec, #f7f4f4);
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
		}

		.button:active:after{
			color:#dbd2d2;
			text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
		}
		
#mobilenumber {
    background: white url(mobile-phone.png) left no-repeat;
    padding-left: 25px;
}

#serviceProvider {
    background: white url(circle.png) left no-repeat;
    padding-left: 25px;
}

#serviceCircle {
    background: white url(circle.png) left no-repeat;
    padding-left: 25px;
}

#amount {
    background: white url(amount.png) left no-repeat ;
    padding-left: 25px;
}

.maintabs label {
  display: inline-block;
  padding: 15px 25px;
  font-weight: 600;
  
 border:1px solid #d1dcdf; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
 background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
 background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.maintabs label :hover{
 border:1px solid #b6c7cc;
 background-color: #d4dee1; background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
 background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
 background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
  
}

.maintabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.maintabs label[for*='1']:before {
  content: '\f1cb';
}

.maintabs label[for*='2']:before {
  content: '\f17d';
}

#mobilenumber, #serviceProvider, #serviceCircle, #amount{
	background-color: transparent;
}
